html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 500;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

img,
video {
  height: auto;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 143px;
  height: 37px;
  flex-shrink: 0;
  color: #fff;
  font-family: Righteous;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.header__nav {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 30px;
  transition: all 1s linear;
}
.header__nav a {
  padding: 2px 20px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s linear;
  border-radius: 8px;
}
.header__nav a:hover {
  background-color: rgba(255, 255, 255, 0.703);
  color: black;
  font-weight: 600;
}
.header__search {
  display: inline-block;
  position: relative;
}
.header__search input {
  border: none;
  outline: none;
  padding: 5px 10px;
  width: 250px;
  border-radius: 3px;
  height: 30px;
}

.search {
  transition: all 0.5s linear;
}
.search__table {
  transition: all 0.5s linear;
  position: absolute;
  width: 100%;
  max-width: 500px;
  top: 110%;
  right: 0;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  z-index: 10;
  max-height: 300px;
  overflow-y: auto;
}
.search__item {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.search__item img {
  width: 35px;
  height: 35px;
  border-radius: 3px;
}
.search__title p {
  color: black;
  font-weight: 600;
  font-family: "Open Sans";
}

@media only screen and (max-width: 400px) {
  .header__logo {
    width: 70px;
    height: 18px;
    font-size: 20px;
  }
  .header__nav {
    display: none;
  }
  .header__nav a {
    padding: 2px 20px;
    font-size: 12px;
  }
  .header__search {
    display: inline-block;
    position: relative;
  }
  .header__search input {
    border: none;
    outline: none;
    padding: 0px 5px;
    width: 250px;
    border-radius: 3px;
    height: 20px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.footer__flex {
  display: flex;
  align-items: center;
}
.footer__group {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 400px) {
  .footer {
    padding: 20px;
  }
  .footer__title {
    font-size: 13px;
  }
  .footer__icon {
    height: 30px;
    width: 30px;
  }
  .footer__icon svg {
    height: 30px;
    width: 30px;
  }
  .footer__group {
    margin-top: 10px;
    gap: 15px;
  }
}
.slider {
  margin-top: 77px;
}
.slider__body {
  display: flex;
  gap: 16px;
  border-radius: 10px;
  transition: all 0.8s linear;
}
.slider__item {
  width: calc(50% - 16px);
  height: 373px;
  flex-shrink: 0;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.slider__img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.slider__content {
  z-index: 3;
  position: absolute;
  right: 0;
  border-radius: 0px 10px 10px 0px;
  background: rgba(16, 16, 16, 0.3);
  backdrop-filter: blur(2px);
  padding: 21px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.slider__header p {
  color: #fff;
  font-family: "Open Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.slider__sub {
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 138.462% */
  margin-bottom: 14px;
}
.slider__desc p {
  max-width: 231px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  height: 145px;
  overflow: hidden;
}
.slider__botton button {
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #053ba3;
  outline: none;
  border: none;
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 15px;
  cursor: pointer;
}
.slider__wrapper {
  position: relative;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider__prev {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #053ba3;
  border-radius: 100rem;
  padding: 5px;
  z-index: 5;
  top: 50%;
  left: 3%;
  transform: translateX(-50%);
  cursor: pointer;
}
.slider__next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #053ba3;
  border-radius: 100rem;
  padding: 5px;
  z-index: 5;
  top: 50%;
  right: 3%;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .slider {
    margin-top: 20px;
  }
  .slider__item {
    width: 100%;
    height: 180px;
  }
  .slider__prev {
    display: none;
  }
  .slider__next {
    display: none;
  }
  .slider__body {
    gap: 5px;
  }
  .slider__header p {
    color: #fff;
    font-size: 12px;
  }
  .slider__sub {
    font-size: 8px;
  }
  .slider__desc p {
    font-size: 8px;
  }
}
.anime {
  margin-top: 111px;
}
.anime__header {
  margin-bottom: 19px;
}
.anime__header p {
  color: #fff;
  font-family: "Nunito";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.anime__body {
  display: flex;
  align-items: center;
  gap: 15px;
}
.anime__item {
  cursor: pointer;
  width: 140px;
  height: 361px;
  flex-shrink: 0;
  position: relative;
  transition: all 0.15s ease-out;
}
.anime__full-with {
  width: 393px;
}
.anime__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  object-fit: cover;
  transition: transform 0.7;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
}
.anime__img:hover {
  transform: scale(1.1);
}
.anime__content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 19px;
  padding-bottom: 36px;
  background: rgba(16, 16, 16, 0.29);
  backdrop-filter: blur(2px);
}
.anime__name {
  color: #fff;
  font-family: "Bangers";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.anime__year {
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.anime__button button {
  outline: none;
  border: none;
  width: 109px;
  height: 28px;
  flex-shrink: 0;
  background-color: #053ba3;
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .anime {
    margin-top: 50px;
  }
  .anime__item {
    cursor: pointer;
    width: 70px;
    height: 180px;
    flex-shrink: 0;
    position: relative;
    transition: all 0.15s ease-out;
  }
  .anime__button {
    display: none;
  }
  .anime__content {
    display: none;
  }
  .anime__body {
    overflow-x: auto;
    scrollbar-width: none;
  }
  .anime__header {
    margin-bottom: 9px;
  }
  .anime__header p {
    font-size: 12px;
  }
}
.vietnam {
  margin-top: 111px;
  position: relative;
  overflow-x: auto;
  scrollbar-width: none;
}
.vietnam__header {
  margin-bottom: 19px;
}
.vietnam__header p {
  color: #fff;
  font-family: "Nunito";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.vietnam__body {
  display: flex;
  align-items: center;
  gap: 28px;
  transition: all 0.3s linear;
}
.vietnam__item {
  cursor: pointer;
  width: calc(20% - 28px);
  height: 379px;
  flex-shrink: 0;
  position: relative;
  transition: all 0.05s linear;
  border-radius: 10px;
}
.vietnam__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  object-fit: cover;
  transition: transform 0.7;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
}
.vietnam__img:hover {
  transform: scale(1.1);
}
.vietnam__content {
  opacity: 0;
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 19px;
  padding-bottom: 36px;
  background: rgba(16, 16, 16, 0.29);
  backdrop-filter: blur(2px);
}
.vietnam__item:hover .vietnam__content {
  opacity: 1;
}
.vietnam__name {
  font-family: "Bangers";
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.vietnam__year {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.vietnam__button button {
  outline: none;
  border: none;
  width: 89px;
  height: 28px;
  flex-shrink: 0;
  background-color: #053ba3;
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 20px;
  cursor: pointer;
}
.vietnam__prev {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #053ba3;
  border-radius: 100rem;
  padding: 5px;
  z-index: 5;
  top: 50%;
  left: 3%;
  transform: translateX(-50%);
  cursor: pointer;
}
.vietnam__next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #053ba3;
  border-radius: 100rem;
  padding: 5px;
  z-index: 5;
  top: 50%;
  right: 3%;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .vietnam {
    margin-top: 20px;
  }
  .vietnam__item {
    width: 35%;
    height: 180px;
  }
  .vietnam__button {
    display: none;
  }
  .vietnam__content {
    display: none;
  }
  .vietnam__header {
    margin-bottom: 9px;
  }
  .vietnam__header p {
    font-size: 12px;
  }
  .vietnam__body {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s linear;
  }
  .vietnam__prev {
    display: none;
  }
  .vietnam__next {
    display: none;
  }
}
.action {
  margin-top: 111px;
  position: relative;
  overflow-x: auto;
  scrollbar-width: none;
}
.action__header {
  margin-bottom: 19px;
}
.action__header p {
  color: #fff;
  font-family: "Nunito";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.action__body {
  display: flex;
  align-items: center;
  gap: 28px;
  transition: all 0.3s linear;
}
.action__item {
  cursor: pointer;
  width: calc(20% - 28px);
  height: 379px;
  flex-shrink: 0;
  position: relative;
  transition: all 0.05s linear;
}
.action__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  object-fit: cover;
  transition: transform 0.7;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
}
.action__img:hover {
  transform: scale(1.1);
}
.action__content {
  opacity: 0;
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 19px;
  padding-bottom: 36px;
  background: rgba(16, 16, 16, 0.29);
  backdrop-filter: blur(2px);
}
.action__item:hover .action__content {
  opacity: 1;
}
.action__name {
  font-family: "Bangers";
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.action__year {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.action__button button {
  outline: none;
  border: none;
  width: 89px;
  height: 28px;
  flex-shrink: 0;
  background-color: #053ba3;
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 20px;
  cursor: pointer;
}
.action__prev {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #053ba3;
  border-radius: 100rem;
  padding: 5px;
  z-index: 5;
  top: 50%;
  left: 3%;
  transform: translateX(-50%);
  cursor: pointer;
}
.action__next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #053ba3;
  border-radius: 100rem;
  padding: 5px;
  z-index: 5;
  top: 50%;
  right: 3%;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .action {
    margin-top: 20px;
  }
  .action__item {
    width: 35%;
    height: 180px;
  }
  .action__button {
    display: none;
  }
  .action__content {
    display: none;
  }
  .action__header {
    margin-bottom: 9px;
  }
  .action__header p {
    font-size: 12px;
  }
  .action__body {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s linear;
  }
  .action__prev {
    display: none;
  }
  .action__next {
    display: none;
  }
}
.category {
  margin-top: 111px;
}
.category__header {
  cursor: default;
}
.category__header p {
  color: #fff;
  font-family: "Nunito";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 13px;
}
.category__Body {
  display: grid;
  grid-template-columns: 2fr 12fr;
  gap: 30px;
}
.category__sidebar {
  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: none;
}
.category__active {
  background: linear-gradient(270deg, #053ba3 0%, rgba(5, 59, 163, 0.22) 100%);
}
.category__menu {
  width: 100%;
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
}
.category__menu:hover {
  background: linear-gradient(270deg, #053ba3 0%, rgba(5, 59, 163, 0.22) 100%);
}
.category__main {
  margin-top: 43px;
}
.category__list {
  display: flex;
  align-items: center;
  gap: 36px;
}
.category__group {
  display: flex;
  justify-content: space-between;
}
.category__seenAll {
  cursor: pointer;
}
.category__seenAll a {
  color: #053ba3;
}
.category__title {
  color: #fff;
  font-family: Nunito;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 15px;
  cursor: default;
}
.category__desc {
  margin-bottom: 56px;
  max-width: 961px;
  cursor: default;
}
.category__desc p {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.category__body {
  display: flex;
  align-items: center;
  gap: 28px;
  transition: all 0.3s linear;
}
.category__item {
  cursor: pointer;
  width: calc(25% - 28px);
  height: 379px;
  flex-shrink: 0;
  position: relative;
  transition: all 0.05s linear;
}
.category__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.7;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
}
.category__img:hover {
  transform: scale(1.1);
}
.category__content {
  opacity: 0;
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 19px;
  padding-bottom: 36px;
  background: rgba(16, 16, 16, 0.29);
  backdrop-filter: blur(2px);
}
.category__item:hover .category__content {
  opacity: 1;
}
.category__name {
  font-family: "Bangers";
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.category__year {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.category__button button {
  outline: none;
  border: none;
  width: 89px;
  height: 28px;
  flex-shrink: 0;
  background-color: #053ba3;
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .category {
    margin-top: 20px;
  }
  .category__item {
    width: 50%;
    height: 180px;
  }
  .category__button {
    display: none;
  }
  .category__content {
    display: none;
  }
  .category__list {
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s linear;
    scrollbar-width: none;
  }
  .category__sidebar {
    max-height: 350px;
    overflow-y: auto;
    scrollbar-width: none;
  }
  .category__Body {
    gap: 10px;
  }
  .category__title {
    font-size: 18px;
  }
  .category__desc {
    margin-bottom: 20px;
  }
  .category__desc p {
    font-size: 10px;
  }
  .category__menu {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 8px;
  }
  .category__seenAll a {
    font-size: 9px;
  }
}
.TV {
  margin-top: 111px;
  position: relative;
  overflow-x: auto;
  scrollbar-width: none;
}
.TV__header {
  margin-bottom: 19px;
}
.TV__header p {
  color: #fff;
  font-family: "Nunito";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.TV__body {
  display: flex;
  align-items: center;
  gap: 28px;
  transition: all 0.3s linear;
}
.TV__item {
  cursor: pointer;
  width: calc(20% - 28px);
  height: 379px;
  flex-shrink: 0;
  position: relative;
  transition: all 0.05s linear;
}
.TV__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.7;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
}
.TV__img:hover {
  transform: scale(1.1);
}
.TV__content {
  opacity: 0;
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 19px;
  padding-bottom: 36px;
  background: rgba(16, 16, 16, 0.29);
  backdrop-filter: blur(2px);
}
.TV__item:hover .TV__content {
  opacity: 1;
}
.TV__name {
  font-family: "Bangers";
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.TV__year {
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.TV__button button {
  outline: none;
  border: none;
  width: 89px;
  height: 28px;
  flex-shrink: 0;
  background-color: #053ba3;
  color: #fff;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 20px;
  cursor: pointer;
}
.TV__prev {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #053ba3;
  border-radius: 100rem;
  padding: 5px;
  z-index: 5;
  top: 50%;
  left: 3%;
  transform: translateX(-50%);
  cursor: pointer;
}
.TV__next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #053ba3;
  border-radius: 100rem;
  padding: 5px;
  z-index: 5;
  top: 50%;
  right: 3%;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .TV {
    margin-top: 40px;
  }
  .TV__item {
    width: 35%;
    height: 180px;
  }
  .TV__button {
    display: none;
  }
  .TV__content {
    display: none;
  }
  .TV__header {
    margin-bottom: 9px;
  }
  .TV__header p {
    font-size: 12px;
  }
  .TV__body {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s linear;
  }
  .TV__prev {
    display: none;
  }
  .TV__next {
    display: none;
  }
}
.mekerting {
  display: flex;
  background: linear-gradient(180deg, rgba(5, 59, 163, 0) 0%, #053ba3 100%);
  margin-top: 139px;
  padding: 75px;
}
.mekerting__title {
  color: #fff;
  font-family: "Nunito";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 106px;
}
.mekerting__desc {
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 115% */
  max-width: 900px;
  margin-bottom: 60px;
}
.mekerting__button button {
  padding: 5px 15px;
  color: #000;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 127.778% */
  background-color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .mekerting {
    margin-top: 30px;
    padding: 20px;
  }
  .mekerting__title {
    color: #fff;
    font-family: "Nunito";
    font-size: 15px;
    margin-bottom: 10px;
  }
  .mekerting__desc {
    color: #fff;
    font-family: "Open Sans";
    font-size: 8px;
    margin-bottom: 20px;
  }
  .mekerting__button {
    display: none;
  }
}
#app {
  padding: 13px 75px;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.none {
  display: none;
}

@media only screen and (max-width: 400px) {
  #app {
    padding: 5px 15px;
  }
}

/*# sourceMappingURL=main.css.map */
