@use "../utilities/index" as ut;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 143px;
    height: 37px;
    flex-shrink: 0;
    color: #fff;
    font-family: Righteous;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }

  &__nav {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 30px;
    transition: all 1s linear;

    a {
      padding: 2px 20px;
      color: #fff;
      font-family: "Open Sans";
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: all 0.2s linear;
      border-radius: 8px;

      &:hover {
        background-color: ut.$bg-hover-color;
        color: black;
        font-weight: 600;
      }
    }
  }

  &__search {
    display: inline-block;
    position: relative;

    input {
      border: none;
      outline: none;
      padding: 5px 10px;
      width: 250px;
      border-radius: 3px;
      height: 30px;
    }
    i {
      color: red;
      width: 30px;
    }
  }
}

.search {
  transition: all 0.5s linear;
  &__table {
    transition: all 0.5s linear;
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 110%;
    // bottom: -100%;
    right: 0;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    z-index: 10;
    max-height: 300px;
    overflow-y: auto;
  }

  &__item {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 35px;
      height: 35px;
      border-radius: 3px;
    }
  }

  &__title {
    p {
      color: black;
      font-weight: 600;
      font-family: "Open Sans";
    }
  }
}
